@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Inter');

/*****************/
/* Global Styles */
/*****************/
* {
    margin: 0;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    @apply text-textMain bg-mainBg;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.mainContent {
    padding-top: 4em;
    width: 100%;
    height: 100%;
    
    /* w-screen h-screen flex p-12 */
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.25em;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: .5em;
}

span {
    font-size: inherit;
    font-weight: 600;
}



/****************/
/*    Navbar    */
/****************/
#menuButton img {
    transition: all 0.3s ease;
}

.navItem {
    font-size: 2.7em;
    display: flex;
    align-items: center;
    gap: .25em;
    letter-spacing: 1px;
    padding: .25em;
}

.number {
    height: 4.2em;
}



/***************/
/*    Index    */
/***************/
.indexBtns {
    @apply px-4 py-1 font-semibold text-center border-2 rounded-md;
}



/*****************/
/* Miscellaneous */
/*****************/
.header {
    text-align: center;
    padding-top: 1em;
}
.headerTitle {
    display: inline-block;
    position: relative;
}

.headerTitle::after {
    content: "";
    display: block;
    position: absolute;
    width: 120%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
}



/******************/
/*   Animations   */
/******************/
@keyframes wiggle1 {
    0%,
    100% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.wiggleInfinite:hover {
    animation: wiggle1 0.5s ease-in-out infinite; /* Adjust the duration and other properties as needed */
}

@keyframes wiggle2 {
    0%, 100% {
        transform: rotate(0deg);
    }
    25%, 75% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

.wiggleStatic {
    animation: wiggle2 0.25s ease-in-out;
}



/******************/
/* Scrollbar Info */
/******************/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    @apply bg-mainBg
}

::-webkit-scrollbar-thumb {
    @apply bg-textMain
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-textDim
}